/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg, #847FC0 0%, #97D9E1 100%);
}
.heading-text {
    text-align: center;
    color: white;
}
.form-container,.payslip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.form-content, .payslip-content {
    padding: 32px;
    text-align: center;
    flex-basis: 28%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.input-field, .radio-box {
    margin-bottom: 16px;
}
.radio-box {
    display: flex;
    justify-content: space-around;
}
input[type="radio"] {
    cursor: pointer;
}
.input-field input {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #DFDFDF !important;
    box-shadow: none !important;
    background: #EEEAEA;
}
.submit-button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background: #847FC0;
    color: white;
    border: none;
}

p {
    margin-bottom: 5px;
}

.checkbox {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
}